*{
    background-color: white;
    text-decoration: none;
}
header{
    height: 40px;/*高さ指定*/
    width:110%;/*横幅指定*/
    top: 0px;
    left: -10px;
    background:#a2d9e7;
    color:#3e3a39;
    text-align: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 20px;
    z-index: 500;
    border-bottom: 2px solid #3e3a39;
}
.title{
    background-color: #a2d9e7;
    text-align: center;
    position: fixed;
    color: #3e3a39;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 30px;
}
nav{
    background-color: #a2d9e7;
    margin-left: 650px;
    z-index: 600;
}   
nav ul{
    background-color: #a2d9e7;
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    background-color: #a2d9e7;
}
nav ul li a{
    background-color: #a2d9e7;
    display: block;
    text-decoration: none;
    color: #3e3a39;
    margin: -5px 40px 0px 40px;
    padding: 10ox 10px;
    font-weight: bold;
}
.blank{
    height: 20px;
    padding: 30px 0px;
    margin-top: -10px;
}
.container,.correctForm,.blank2{
    display: none;
}
.container{
    flex-direction: column;
  }
  .consentArea{
    margin: 10px 10px auto 650px;
  }
  .text{
    padding: 30px 60px;
    margin: 30px auto auto 100px;
  }
  .applyBtn{
    margin: 20px;
  }
  th{
    width: 100px;
    text-align: center;
  }
  td{
    width: 100px;
    text-align: center;
  }
  .apply{
    width: 90px;
    text-align: center;
  }
  .oldData, .newData{
    border-left: solid 5px #a2d9e7;
    font-size: 20px;
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
  }
  
